/* ---------ОБЩИЕ--------- */
html, body {
    margin: 0;
    height: 100%;
}
.wrap {
    border: 4px double black;
    height: 100%;
    box-sizing: border-box;
}
.menu {
    background-color: indigo;
    color: white;
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
}
.content {
    padding: 10px;
}


/* ---------FLOAT--------- */
.menu {
    height: 100%;
    float: left;
}
.content {
    float: left;
}
/* Не понятно интуитивно. Контенту пришлось тоже дать float, чтобы прижать к меню, либо приходится мучиться с padding, так как контект оказывается "под" меню */


/* ---------INLINE-BLOCK--------- */
/* .menu, .content {
    display: inline-block;
}
.menu {
    height: 100%;
}
.content {
    vertical-align: top;
} */
/* Нужно прижимать к верху контент, причем интуитивно не понятно почему оно уходит вниз. */


/* ---------FLEX--------- */
/* .wrap {
    display: flex;
}
.content {
    flex-grow: 1;
} */
/* Проблем нет :)*/